<h1>Here is all <%= @user.name %> history information</h1>

<a href="/users"><div class="see-all-posts-btn"><button>Go Back</button></div></a>
<div class="users-container">
  <img class="user-photo" src="<%= @user.photo %>"><br>
  <h2><%= @user.name %></h2><br>
  <p class="text-usercard-index">Number of Posts: <%= @user.posts_counter %></p><br><br>
</div>
<div class="bio-container">
  <p class="text-bio">
   Bio:<br><br>
   <%= @user.bio %>
  </p>
</div>
<% @user.posts.each_with_index do |post, index| %>
<a href="/users/<%= @user.id %>/posts/<%= post.id %>">
  <div class="posts-container">
    <div class="posts-title-container">
    Post #<%= post.id %>:<br><br>
    <%= post.title %>:<br>
    <p class="text-post"><%= post.text %></p><br>
    </div>
    <p class="post-footer-text">comments:<%= post.comments_counter %> likes:<%= post.likes_counter %></p><br><br>
  </div>
</a>
<% end %><br><br>
<a href="/users/<%= @user.id %>/posts"><div class="see-all-posts-btn"><button>See all Posts</button></div></a>
