<%= form_with model: @post, url: "/users/#{params[:id]}/new/", method: :post, local: true do |f| %>
  <%= f.hidden_field :author_id, value: params[:id] %><br>
  <%= f.hidden_field :comments_counter, value: 0 %><br>
  <%= f.hidden_field :likes_counter, value: 0 %><br>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>